// Sassy
//  フラッシュメッセージの表示。
.flash {
  position: absolute;
  z-index: 100;
  background: white;
  animation: 7s flashMsg;
  animation-fill-mode: forwards;
  left: 50%;
  padding: 10px 10px 10px 10px;
  transform: translate(-50%, 0%);
  border-radius: 15px;
  width: 50%;
  text-align: center;
  border: 3px solid blue;
}
@keyframes flashMsg {
  0% {
    opacity: 0;
    display: block;
  }
  5% {
    opacity: 0;
    top: -100px;
  }
  25% {
    opacity: 1;
    top: 10px;
  }
  80% {
    opacity: 1;
    top: 10px;
  }
  100% {
    top: -100px;
    opacity: 0;
    display: none;
  }
}

// サービスロゴ
.service {
  display: inline-block;
  position: absolute;
  height: 1em;
  .service--logo {
    height: 100%;
    display: inline-block;
    position: relative;
    img {
      height: 100%;
    }
  }
  .service--icon {
    height: 100%;
    display: inline-block;
    position: relative;
    img {
      height: 100%;
    }
  }
}

