<script>
  function cell_action(e) {
    e.target.classList.toggle("cell--theme")
    data_save()
  }

  // Format of JSON:
  //  [
  //    {
  //      "title": "FirstPage",
  //      "notes": [
  //        { "id": "cell-ww", "showName": "TEST", "class": "cell--theme" },
  //        { "id": "cell-we", "showName": "TEST2", "class": "cell--theme" },
  //      ]
  //    }, 
  //    {
  //      "title": "SecondPage",
  //      "notes": [
  //        { "id": "cell-ww", "showName": "TEST", "class": "cell--theme" },
  //        { "id": "cell-we", "showName": "TEST2", "class": "cell--theme" },
  //      ]
  //    }, 
  //  ]

  function to_json() {
      let data = []
      let notes = []
      let page = {"title": "Sample", "notes": notes}
      data.push(page)
      Array.from(document.getElementsByClassName("cell")).forEach( cell => {
          notes.push({"id": cell.id, "showName": cell.innerHTML || "", "class": cell.classList.value || ""})
        }
      )
      return data
  }

  function data_save() {
    let data = to_json()
    json = JSON.stringify(data)
    localStorage.setItem("mandala", json)
  }

  function data_load() {
    pages = JSON.parse(localStorage.getItem("mandala"))
    if(! pages) return false
    pages.forEach(page => {
      page.notes.forEach(note => {
        let cell = document.getElementById(note.id)
        if(! cell) return
        cell.innerHTML = note.showName || ""
        if(note.class) {
            note.class.split(/ +/).forEach(cls => cell.classList.add(cls))
        }
      })
    })
    return true
  }

  function data_init() {
    Array.from(document.getElementsByClassName("cell")).forEach(cell => cell.innerHTML="テスト")
    document.querySelectorAll("[id^=cell][id$=d]").forEach(cell => cell.classList.add("cell--theme"))
  }

  function fixed_panel_size() {
    Array.from(document.getElementsByClassName("cell")).forEach(cell => cell.innerHTML="")
    panels = [
      ["backboard", "98%", "98%"],
      ["top", "100%", "3em"],
      ["middle", "100%", "100%"],
      ["bottom", "100%", "3em"],
      ["left", "12em", null],
      ["center", null, null],
      ["right", "12em", null]
    ]
    panels.forEach(ary => {
      let _e = document.getElementById(ary[0])
      _e.style.width = ary[1]
      _e.style.height = ary[2]

      _e.style.width = getComputedStyle(_e).width
      _e.style.height = getComputedStyle(_e).height
    })
  }

  function resize_window() {
      fixed_panel_size()
  }

  function init() {
    let center = document.getElementById("center")
    let area = document.createElement("div")
    area.className = "area"

    let cell = document.createElement("div")
    cell.className = "cell cell--common shadow"

    let cell_ids = "wersdfzxc"
    for(let i = 0; i < 9; i++) {
      let c = cell.cloneNode(true)
      c.setAttribute("id", `cell-N${cell_ids[i]}`)
      area.appendChild(c)
    }

    for(let i = 0; i < 9; i++) {
      let a = area.cloneNode(true)
      a.setAttribute("id", `area-${cell_ids[i]}`)
      Array.from(a.getElementsByClassName("cell")).forEach(cell => cell.setAttribute("id", cell.id.replace("N", cell_ids[i])))
      center.appendChild(a)
    }
    Array.from(document.getElementsByClassName("cell")).forEach(cell => cell.addEventListener("click", cell_action))
    fixed_panel_size()

    window.addEventListener("resize", resize_window)

    if(! data_load()) {
      data_init()
      data_save()
    }
  }
  window.onload = init;
</script>



<div id="backboard" class="backboard">
  <div id="top" class="panel panel--top">
    マンダラチャート
  </div>

  <div id="middle" class="panel panel--middle">

    <div id="left" class="panel panel--left">
    </div>

    <div id="center" class="panel panel--center">
    </div>

    <div id="right" class="panel panel--right">
    </div>

  </div>

  <div id="bottom" class="panel panel--bottom">
  </div>
</div>
