<div id="backboard" class="backboard">
  <div id="top" class="panel panel--top">
    マンダラチャート
  </div>

  <div id="middle" class="panel panel--middle">

    <div id="left" class="panel panel--left">
    </div>

    <div id="center" class="panel panel--center">
    </div>

    <div id="right" class="panel panel--right">
    </div>

  </div>

  <div id="bottom" class="panel panel--bottom">
    <input id="command"></input>
  </div>

  <div id="notepad" class="notepad _hidden">
    <div id="content--notepad--title">title</div>
    <textarea id="content--notepad--textarea"></textarea>
  </div>
</div>
