#backboard.backboard
  #top.panel.panel--top
    | マンダラチャート

  #middle.panel.panel--middle
    #left.panel.panel--left

    #center.panel.panel--center

    #right.panel.panel--right

  #bottom.panel.panel--bottom
    input#command
  #notepad.notepad._hidden
    #content--notepad--title
      | title
    textarea#content--notepad--textarea
