// Sassy
body {
  background-color: black;
}
input {
  font-family: "Lucida Console", Courier, monospace;
}

.status--overwrite {
  background-color: rgba(255,105,212,0.1);
}

//  データ直接更新のチート機能  {
#import_export {
  position: absolute;
  z-index: 30;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  font-family: "Lucida Console", Courier, monospace;
}
//  }

//  廃止予定。セルのノート更新フォーム  {
#notepad {
  position: absolute;
  z-index: 20;
  width: 70%;
  height: 60%;
  background: gray;
  margin: 10% 15% 15% 15%;
}

#content--notepad--title {
  background: green;
  width: 100%;
}
#content--notepad--textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
}
//  }

//  画面の大部品  {
.backboard {
  background-color: navy;
  height: 98%;
  width: 98%;
  position: absolute;
  top: 1%;
  left: 1%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.panel {
  background-color: gray;
  border-color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel--top {
  min-height: 3em;
  max-height: 3em;
  background: linear-gradient(160deg, mistyrose, pink);
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid black;
  font-weight: bold;
}

.panel--middle {
  color: gray;
  height: 100%;
  display: flex;
  align-items: stretch;
  background: linear-gradient(160deg, white, silver);
}

.panel--bottom {
  color: blue;
  min-height: 3em;
  max-height: 3em;
  background: linear-gradient(160deg, mistyrose, pink);
  border-radius: 0 0 15px 15px;
  border-top: 1px solid black;
}

.panel--left {
  color: orange;
  min-width: 12em;
  max-width: 12em;
  background: linear-gradient(160deg, white, silver);
}

.panel--center {
  width: 100%;
}

.panel--right {
  color: green;
  min-width: 12em;
  max-width: 12em;
  background: linear-gradient(160deg, white, silver);
  display: initial;
  overflow: hidden;
}
//  }

//  マップ系  {
.map {
  color: pink;
  width: 100%;
  height: 100%;
  padding: 0.5%;
  box-sizing: border-box;
}
.map.large {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  background: saddlebrown;
  gap: 0.5%;
  .content--cell--note {
    display: none;
  }
}
//  }

//  エリア系  {
.area {
  background-color: black;
  border-color: black;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: (100% / 3) (100% / 3) (100% / 3);
  grid-template-columns: (100% / 3) (100% / 3) (100% / 3);
}
//  }

//  セル系  {
.cell {
  color: black;
  border: 1px solid;
  border-color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  font-size: 0.8em;
  white-space: pre-wrap;
  font-weight: bold;
  s {
    text-decoration: line-through 2px solid red;
  }
  u {
    text-decoration: underline 2px solid deepskyblue;
  }
  table {
    border-collapse: collapse;
  }
  td {
    border-color: black;
    border: 1px solid;
    padding: 4px 12px 4px 12px;
  }
}

.cell--common {
  background: linear-gradient(160deg, white, antiquewhite);
  font-weight: bold;

//  font-family: "Lucida Console", Courier, monospace;
  font-size: 14px;
}

.tag--cell--id {
	height: 2em;
	width: 24px;
	z-index: 10;
	position: fixed;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding-left: 6px;
	margin-top: 4px;
	margin-left: 4px;
	font-style: italic;
	font-weight: initial;
	font-size: 10px;
	background: coral;
	border-radius: 5px;
}

.content--cell--wrap--subject {
  //  background: yellow;
  height: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  position: relative;
}

.content--cell--subject {
  //  background: blue;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  font-family: "Lucida Console", Courier, monospace;
}

.content--cell--_subject {
  //  background: green;
  background: transparent;
  resize: none;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  font-family: "Lucida Console", Courier, monospace;
  overflow: hidden;
  //  _subjectフォーカス時「親であるwrapを投下してきたイベントを捕まえる」ための設定
  pointer-events: auto;
}
.content--cell--_note {
  overflow: hidden;
  background: transparent;
  //  _noteフォーカス時「親であるwrapを投下してきたイベントを捕まえる」ための設定
  pointer-events: auto;
}
:focus {
  outline: none;
}

.cell--gold {
  background: linear-gradient(160deg, navajowhite, goldenrod);
  .content--cell--subject {
    font-size: 16px;
  }
}
.cell--silver {
  background: linear-gradient(160deg, whitesmoke, silver);
  .content--cell--subject {
    font-size: 14px;
  }
}

.map.large {
  .content--cell--wrap--note {
    display: none;
  }
  .content--cell--subject {
    //  background: pink;
    padding: 10px;
    font-size: 14px;
  }
  .content--cell--_subject {
    //  background: silver;
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .cell--gold .content--cell--subject {
    font-size: 18px;
  }
  .cell--gold .content--cell--_subject {
    font-size: 18px;
  }
  .cell--silver .content--cell--subject {
    font-size: 16px;
  }
  .cell--silver .content--cell--_subject {
    font-size: 16px;
  }
}

.map.small , .map.detail {
  .cell {
    display: flex;
    flex-flow: column;
  }
  .content--cell--wrap--subject {
    //  background: yellow;
    height: 49.56px;
    min-height: 49.56px;
    max-height: 49.56px;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
  }
  .content--cell--subject {
    //  background: pink;
    padding: 10px;
    font-size: 16px;
  }
  .content--cell--_subject {
    //  background: silver;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  .cell--gold .content--cell--subject {
    font-size: 20px;
  }
  .cell--gold .content--cell--_subject {
    font-size: 20px;
  }
  .cell--silver .content--cell--subject {
    font-size: 18px;
  }
  .cell--silver .content--cell--_subject {
    font-size: 18px;
  }
  .content--cell--wrap--note {
    //  background: green;
    height: calc(100% - 49.56px);
    padding: 0px;
    margin: 0px;
    position: relative;
  }
  .content--cell--note {
    //  background: pink;
    height: 100%;
    text-align: initial;
    padding: 10px 14px 10px 14px;
    font-weight: initial;
    font-size: 14px;
    overflow: scroll;
    font-family: "Lucida Console", Courier, monospace;
    ul {
      margin-block: 0px;
      padding-inline-start: 20px;
    }
    ol {
      margin-block: 0px;
      padding-inline-start: 32px;
    }
    li {
      padding: 4px 0 4px 0;
    }
  }
  .content--cell--_note {
    //  background: silver;
    width: calc(100% - 14px - 14px);
    height: calc(100% - 10px - 10px);
    padding: 10px 14px 10px 14px;
    border: none;
    font-weight: initial;
    font-size: 14px;
    font-family: "Lucida Console", Courier, monospace;
  }
}
.cell.status--with--note .icon--cell--note {
	height: 8px;
	width: 8px;
	z-index: 10;
	position: fixed;
	margin-top: 2px;
	margin-left: 2px;
	background: lawngreen;
	border-radius: 4px;
}

/*
.cell textarea {
  padding: 0px;
  margin: 0px;
  background: transparent;
  text-align: center;
  font-weight: bold;
//  font-family: "Lucida Console", Courier, monospace;
  resize: none;
  border: none;
  font-size: 14px;
}
:focus {
//  outline: none;
}

.cell--gold {
  background: linear-gradient(160deg, navajowhite, goldenrod);
  font-size: large;
  font-family: "Lucida Console", Courier, monospace;
}

.content--cell--subject {
	width: 100%;
	height: 100%;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.content--cell--note {
  text-align: left;
}
*/

//  }

//  修飾系  {
.shadow {
  box-shadow: -3px -3px 8px rgba(0,0,0,0.5) inset,  3px 3px 8px rgba(0,0,0,0.5) inset;
}

._hidden {
  display: none !important;
}
.cell.current {
  border: red solid 2px;
  box-sizing: border-box;
}
//  }

//  ページ系  {
.page {
  background: linear-gradient(160deg, lightcyan, paleturquoise);
  color: black;
  font-family: "Lucida Console", Courier, monospace;
  display: flex;
}

.page--address {
  height: 100%;
  padding: 8px 8px 8px 8px;
}

.page--title {
  width: 100%;
  height: 100%;
  padding: 8px 0px 8px 8px;
}

.page.current {
  border: red solid 2px;
  box-sizing: border-box;
}
//  }

//  セルビュー {
#map_detail {
  position: absolute;
  background-color: rgba(255,255,255,0.5);
  z-index: 100;
  display: grid;
  grid-auto-columns: minmax(50%, 100%);
  padding: 4px;
  //  表示の寸法はJSで設定する（centerパネルとぴったり同じに上書きする）
}
.map--detail--panel {
  grid-row: 1;
}
#map_detail_left {
}
#map_detail_right {
}
//  }


//  ノートにアイコンを貼る
//  ノート本体にimgタグを貼るのはナンセンス。wrap層に貼りたい。
.content--cell--subject--sticker {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  .sticker {
    position: relative;
    background: transparent;
    left: 80%;
    top: 30%;
    width: 0%;
    height: 30%;
    float: left;
    img {
      height: 100%;
//      mix-blend-mode: multiply;
    }
  }
}

.content--cell--note--sticker {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  .sticker {
    position: relative;
    background: transparent;
    left: 80%;
    top: 30%;
    width: 0%;
    height: 30%;
    float: left;
    img {
//      mix-blend-mode: multiply;
      height: 100%;
    }
  }
}

#account {
  position: absolute;
  right: 100px;
  padding: 2px 10px 2px 10px;
  border-radius: 8px;
  font-weight: normal;
}

#logout {
  position: absolute;
  right: 20px;
  border: 1px solid black;
  padding: 2px 10px 2px 10px;
  border-radius: 8px;
  background: linear-gradient(160deg, white, silver);
  font-weight: normal;
}

