// Sassy
@import "../share/common";

* {
  box-sizing: border-box;
  font-family: "Lucida Console", Courier, monospace;
  --toppanel--height: 3em;
  --bottompanel--height: 3em;
  --leftpanel--width: 12em;
  --rightpanel--width: 12em;

  cursor: url("cursor_pen.svg"), auto;
}

.panel {
  overflow: hidden;
}

body {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
}

//  アプリ全体のレイアウト系
#root {
  display: block;
  position: absolute;
  background-color: transparent;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 2px solid red;

  #layout_backboard {
    --margin: 5px;
    display: grid;
    grid-template-rows: 3em auto 3em;
    grid-template-columns: 12em auto 12em;
    position: absolute;
    background: linear-gradient(160deg, gold, sandybrown);
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2);
    margin: var(--margin);
    box-sizing: border-box;
    border-radius: 15px;

    &.fullscreen {
      #layout_top {
        display: none;
      }
      #layout_left {
        display: none;
      }
      #layout_right {
        display: none;
      }
      #layout_center {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
      }
    }

    #layout_top {
      background: transparent;
      grid-column: 1/4;
      border-radius: 15px 15px 0 0;
      border-bottom: 1px solid black;

      display: grid;
      grid-template-columns: 2fr 3fr 2fr;
      grid-template-rows: 1fr;

      .book--title {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .accounts {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        user-select: none;

        .status {
          display: flex;
          font-size: small;
          font-style: italic;
          align-items: center;
          justify-content: right;
        }
        .email {
          display: flex;
          font-size: small;
          font-style: italic;
          align-items: center;
          justify-content: right;
        }
        .switch {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-column: 2 / 3;
          grid-row: 1 / 3;

          button {
            width: calc(100% - 16px * 2);
            height: calc(100% - 6px * 2);
          }
        }
      }
    }
    #layout_left {
      background: linear-gradient(160deg, white, silver);
      border-right: 1px solid black;
    }
    #layout_center {
      background: silver;
      position: relative;
    }
    #layout_right {
      background: linear-gradient(160deg, white, silver);
      border-left: 1px solid black;

      .page--list {
        padding: 4px;
        display: grid;
        grid-template-rows: 16;
        row-gap: 1px;
        font-size: smaller;

        .page {
          display: grid;
          grid-template-rows: 2em;
          grid-template-columns: 2em auto;
          border-radius: 5px;

          .page--index {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            &::after {
              content: ":";
            }
          }
          .editor {
            .wrapper {
              display: flex;
              align-items: center;
              position: relative;
              width: 100%;
              height: 100%;
              * {
                margin-block-start: 0;
                margin-block-end: 0;
              }
              .display {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
              }
              .data {
                width: 100%;
                height: 100%;
                text-align: initial;
              }
            }
          }
        }
      }
    }
    #layout_bottom {
      background: transparent;
      grid-column: 1/4;
      border-radius: 0 0 15px 15px;
      border-top: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;

      .iconlogo {
        height: 2em;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: auto auto;
        position: absolute;
        right: 16px;

        img {
          display: inline;
          height: 100%;
        }
      }
    }
  }
}

#map {
  .map--large {
    --grid-gap-ver: 6px;
    --grid-gap-hor: 6px;
    display: grid;
    position: absolute;
    background: transparent;
    margin: var(--grid-gap-ver) var(--grid-gap-hor) var(--grid-gap-ver) var(--grid-gap-hor);
    height: calc(100% - var(--grid-gap-ver) * 2);
    width: calc(100% - var(--grid-gap-hor) * 2);
    grid-template-rows: repeat(3, calc((100% - var(--grid-gap-ver) * 2) / 3));
    grid-template-columns: repeat(3, calc((100% - var(--grid-gap-hor) * 2) / 3));
    column-gap: var(--grid-gap-hor);
    row-gap: var(--grid-gap-ver);

    //  大マップ時のセル指定。
    //  後から読んでも絶対わからなくなっているので、後で書き直す。
    .cell {
      grid-template-rows: 100%;

      .wrapper {
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        height: 100%;
      }
    }
  }
  .map--middle {
    //  「内容物１のグリッド」として定義。
    --grid-gap-ver: 6px;
    --grid-gap-hor: 6px;
    display: grid;
    position: absolute;
    background: transparent;
    margin: var(--grid-gap-ver) var(--grid-gap-hor) var(--grid-gap-ver) var(--grid-gap-hor);
    height: calc(100% - var(--grid-gap-ver) * 2);
    width: calc(100% - var(--grid-gap-hor) * 2);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    .area {
      //  不思議対応。とにかく「map--middle時だけareaにposition:absolute;をつける」と、セルが縦に自動で伸びる症状を止められる。
      position: absolute;
    }
  }
  .map--small {
    --grid-gap-ver: 6px;
    --grid-gap-hor: 6px;
    display: grid;
    position: absolute;
    background: transparent;
    margin: var(--grid-gap-ver) var(--grid-gap-hor) var(--grid-gap-ver) var(--grid-gap-hor);
    height: calc(100% - var(--grid-gap-ver) * 2);
    width: calc(100% - var(--grid-gap-hor) * 2);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .area {
    background: transparent;
    --grid-gap-ver: 2px;
    --grid-gap-hor: 2px;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: repeat(3, calc((100% - var(--grid-gap-ver) * 2) / 3));
    grid-template-columns: repeat(3, calc((100% - var(--grid-gap-hor) * 2) / 3));
    column-gap: var(--grid-gap-hor);
    row-gap: var(--grid-gap-ver);

    &.selected {
      border: 2px solid rgba(0, 0, 255, 1.0)
    }
  }

  //  中／小マップ時のセル指定。
  //  後から読んでも絶対わからなくなっているので、後で書き直す。
  .cell {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    border-radius: 5px;
    overflow: hidden;
    //  グリッド配下要素に対していろいろ重ねたい時は、やっぱりgridを使う。
    //  自身の領域を1/1のグリッドと見立てて、その単一領域に配下を描画させる。

    .effect {
      position: relative;
      grid-area: 1 / 1;
      z-index: 4;
      pointer-events: none;
    }
    .wrapper {
      grid-area: 1 / 1;
      background: transparent;
      display: grid;
      grid-template-rows: 3em auto;
      grid-template-columns: 100%;

      .subject {
        .middle {
          align-items: center;
        }
        .effect {
          height: 100%;
          &._hidden_sticker {
            * {
              display: none;
            }
          }
        }
      }
      .note {
        .wrapper {
          height: 100%;
          display: grid;
          grid-template-rows: 100%;
          grid-template-columns: 100%;

          .effect {
            //  不思議対応。ノート配下のeffectにposition:relative;をつけることで、セルを溢れて「エリアの右端」まで領域が伸びる現象を防げる。
            position: relative;
            &._hidden_sticker {
              * {
                display: none;
              }
            }
          }

          .display {
            grid-area: 1 / 1;
          }
          .data {
            grid-area: 1 / 1;
          }
        }
      }
    }
    .editor {
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: 100%;
      z-index: 3;

      &.subject {
        grid-area: 1 / 1;
        border-bottom: 1px solid black;
        .effect {
          position: relative;
          z-index: 2;
        }
        .display {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          overflow: hidden;
          grid-area: 1 / 1;
          z-index: 1;
        }
        .data {
          position: relative;
          grid-area: 1 / 1;
          z-index: 1;
        }
      }

      &.note {
        display: block;
        .display {
          --padding-ver: 5px;
          --padding-hor: 5px;
          text-align: initial;
          padding: var(--padding-ver) var(--padding-hor) var(--padding-ver) var(--padding-hor);
          background: transparent;
        }
        .data {
          --padding-ver: 5px;
          --padding-hor: 5px;
          width: 100%;
          text-align: initial;
          padding: var(--padding-ver) var(--padding-hor) var(--padding-ver) var(--padding-hor);
          background: transparent;
        }
      }
    }

    &.selected {
      border: 2px solid rgba(0, 0, 255, 1.0)
    }
  }
}

.editor {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  height: 100%;

  &.editable {
    background: rgba(255, 105, 212, 0.1);
  }

  .display {
    text-align: center;
  }
  .data {
    height: auto;
    font-size: 1em;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    resize: none;
    overflow: hidden;
  }

  .effect {
    * {
      //  エフェクトシートに載っているモノは、ポインタイベントを受け取れる。
      //  （別途、Javascript側で onClick={(e) => { e.stopPropagation() }} すること。）
      pointer-events: auto;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
//  セルの装飾
.cell {
  background: linear-gradient(160deg, white, antiquewhite);
  box-shadow: -3px -3px 8px rgba(0,0,0,0.5) inset,  3px 3px 8px rgba(0,0,0,0.5) inset;
  .editor.subject {
    padding: 5px;
  }
  .editor.note {
    padding: 5px;
  }
  .effect {
    background: transparent;
    padding: 5px;
  }
  .tag--cell--id {
    position: absolute;
    font-size: small;
    font-style: italic;
    background: orange;
    padding: 1px 4px 1px 4px;
    border-radius: 4px;
  }
  .tag--cell--content {
    position: absolute;
    background: green;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    right: 5px;
  }
}

.page {
  background: linear-gradient(160deg, lightcyan, paleturquoise);
//  box-shadow: -3px -3px 8px rgba(0,0,0,0.5) inset,  3px 3px 8px rgba(0,0,0,0.5) inset;
}

.map--large .editor.subject {
  font-size: small;
}

////////////////////////////////////////////////////////////////////////////////
//  ツールボックス系

#toolbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background: gray;
  column-gap: 5px;
  row-gap: 5px;
  padding: 5px;

  .tool {
    font-size: x-small;
    height: 4em;
    background: yellow;
    border: 1px solid orange;

    &:active {
      background: green;
    }
  }

  .tool--toggle {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: x-small;
    --enable-background: #af975e;
    --disable-background: #eee;
    --enable-color: white;

    input {
      visibility: hidden;
      position: absolute;
      left: 0;
      &:focus + label {
          box-shadow: 0 0 4px var(--enable-background);
      }
      &:checked + label {
          background: var(--enable-background);
          color: var(--enable-color);
      }
    }
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: var(--disable-background);
      cursor: pointer;
      transition: .5s;
      &:hover {
        background: var(--enable-background);
        color: var(--enable-color);
      }
    }
  }
}

._hidden {
  display: none;
}

#map {
  &.selection--areas {
    .area:hover {
      border: 2px solid rgba(0, 0, 255, 0.5);
    }
  }
  &.selection--cells {
    .cell:hover {
      border: 2px solid rgba(0, 0, 255, 0.5);
    }
  }
}

